body{
    padding: 0;
    margin: 0;
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
    font-size: 18px;
    line-height: 1.5;
}


/* Common */
.jumbo{
    font-size: 64px!important;
}

.white-text{
    color: white!important;
}

.display-middle{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.center{
    text-align: center!important;
}

input{
    font-family: 'Raleway', sans-serif;
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400!important;
    margin: 10px 0;
    font-family: 'Raleway', sans-serif;
}

h2{
    font-size: 30px!important;
}

h1{
    font-size: 36px!important;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.gray-filter-50{
    filter: grayscale(50%);
}

.content-width{
    max-width: 980px;
    margin-left: auto;
    margin-right: auto;
}

.content-padding{
    padding: 64px 16px!important;
}

.content-color{
    background-color: #FFDDDD!important;
}

.content-heading-color{
    color: #757575!important;
}

.hover-black:hover{
    background-color: #000!important;
    color: #fff!important;
}

.hover-gray:hover{
    background-color: #ccc!important;
    color: #000!important;
    cursor: pointer;
}

.two-column{
    width: 50%;
    float: left;
}

/* End-common */
#main{

}

#nav{
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 0.75;
    background-color: white;
    z-index: 1;
    padding: 8px 16px;
}

#nav:hover{
    opacity: 1;
}

#nav .nav-bar a{
    float: left;
    width: 25%;
    text-decoration: none;
    color: #000;
    padding: 8px 0;
}

#nav .nav-bar a:hover{
    background-color: #ccc;
}

#header {
    background: url(https://github.com/helloworldIT/wedding/blob/5b2eb90a1980a58af501b2e35c831878f9297360/assets/images/wedding/wedding_couple.jpg) center/cover no-repeat;
    min-height: 100vh;
    position: relative;
    text-align: center;
    letter-spacing: 4px;
    
}

#content1 {
    padding: 64px 16px;
    background-color: #FFDDDD;
}


.about img{
    margin: 32px 0;
    width: 100%;
    border-radius: 4px;
}

.about .about-couple{
    text-align: left;
    line-height: 2;
}

.about .detail-btn{
    background-color: #000;
    font-size: 18px;
    padding: 18px 24px;
    border-radius:4px;
    line-height: 2;
    text-decoration: none;
}

#content .invitation{
background: url(https://github.com/helloworldIT/wedding/blob/5b2eb90a1980a58af501b2e35c831878f9297360/assets/images/wedding/flowers.jpg) center/cover no-repeat;
    width: 100%;
    height: 100vh;
    position: relative;
    line-height: 2.2;
}  

.wedding img{
    margin: 64px 0;
    width: 100%;
    border-radius: 8px;
}

.reminder{
    letter-spacing: 3px;
}

.reminder p{
    font-size: 18px;
    margin: 18px 0;
}

.reminder .rsvp-btn{
    font-size: 24px;
    padding: 18px 60px;
    margin: 24px 0;
    background-color: #f44336;
    color: #fff;
    opacity: 0.6;
    border-radius: 4px;
    border: none;
    font-weight: 300;
    cursor: pointer;
}

.reminder .rsvp-btn:hover{
    opacity: 1;
}

#footer {
    background-color: #000;
    width: 100%;
    padding: 48px 0;
}

#footer a{
    color: white;
}

#footer a:hover{
    color:#4CAF50;
}

.modal{
    z-index: 3;
    display: none;
    padding-top: 100px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-container{
    background-color: #fff;
    max-width: 600px;
    position: relative;
    box-shadow: 0 4px 10px 0 rgb(0 0 0 / 20%), 0 4px 20px 0 rgb(0 0 0 / 19%);
    margin: auto;
    padding: 48px;
}

.modal-container .input-name{
    width: 100%;
    border: 1px solid #ccc;
    padding: 8px;
    font-size: 15px;
    box-sizing: border-box;
}

.modal-container button{
    padding: 12px 16px;
    border: none;
    font-size: 15px;
    font-family: 'Raleway', sans-serif;
    color: #fff;
}

.modal.display{
    display: block!important;
}
